<!DOCTYPE html>
<html lang="pt">

<head>
	<meta charset="utf-8" />
	<title>Museu Virtual</title>
</head>

<body>
    <h2>Validação de usuário</h2>
    <form action="http://localhost:3000/autenticarusuario" method="post">
        <input type="text" name="email" placeholder="Email" value='albordignon@gmail.com'/>
        <input type="password" name="password" placeholder="Password" value='ifsp@1234'/>
        <input type="submit" class="button" value="Validar Usuário" />
    </form>
	

</body>

</html>